.Searchbar {
  padding: 2rem 1rem;
  text-align: center;
}

input {
  color: black;
}

.search__results {
  width: 100%;
}

.SearchBar input {
  font-size: 1.2rem;
  padding: 5rem 1rem;

}

.search__results {
  border: 1rem
}